/* Configuração padrão da página
----------------------------------*/
*{   
    
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;    
    height: 100%;
}
.rodape p {
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    padding-bottom: 20px;
}
#menu{   
    text-align: center;
    width: 100%;
    
}
#menu p{
    text-align: center;
    padding: 0px;
    color: white;
    background-color: #93b6c7;
    letter-spacing: 2px;
}
#menu img{
    width: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
#navegacao{
    
    width: 920px;
    margin: 0 auto;
    
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

/********************
Configurando links*/
a {
   
    text-decoration: none;    
}
ul {      
    
    text-align: center;
    margin: 0;
    padding: 0;    
    float:left;
    list-style-type: none;
}
ul li{
    
    float: left;
}
ul a {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 0 0.5em;
    display: block;
    line-height: 1em;
    color: black;
    
}
ul a:hover{    
    border-bottom: 1px solid;
}


/*Efeito Parallax
----------------------*/
.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 10px;
    margin-bottom: 25px;
}
.caixa1 {
    
    background-image: url(./imagens/imagem1.jpg);
}
.caixa2{
    
    background-image: url(./imagens/imagem2.jpg);
}

/***********
botão na imagem 1*/
.conteudo {
    margin: 0 auto;
    color: #9E9F9E;
    background-color: #E9EBE9;      
    text-align: justify;
    padding: 50px 80px;
    width: 50%;
}
.conteudo h1{
    text-align: center;
}
.conteudo p{
    text-align: center;
}
.conteudo-imagem{
    text-align: center;
    position: relative;      
    width: 100%;
    opacity: 0.7;
    
}
.conteudo-selo{
    margin-top: 50px;
    text-align: center;
    position: relative;      
    width: 100%;
    background-color: #fff;    
    
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;    
    text-align: center;
}

.conteudo-titulo span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}