/* Configuração padrão da página
----------------------------------*/
*{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 36px;
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}
#menu{
    text-align: center;
    width: 100%;
    
}
#menu p{
    padding: 0px;
    color: white;
    background-color: #93b6c7;
    letter-spacing: 2px;
}
.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
p{
    margin-bottom: 20px;
}
/********************
Configurando links*/
a {
    text-decoration: none;    
}
ul {      
    
    margin: 0;
    padding: 0;    
    float:left;
    list-style-type: none;
}
ul li{
    
    float: left;
}
ul a {
    text-align: center;
    padding: 0 1em;
    display: block;
    line-height: 2em;
    color: black;
}

/*Efeito Parallax
----------------------*/
.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.caixa1 {
    background-image: url(/imagens/imagem1.jpg);
}
.caixa2{
    background-image: url(/imagens/imagem2.jpg);
}
.caixa3 {
    background-image: url(/imagens/imagem3.jpg);
}
.caixa4{
    background-image: url(/imagens/imagem4.jpg);
}
/***********
botão na imagem 1*/
.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;    
    text-align: center;
}
.conteudo-titulo span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}